html
{ 
  background: url('../media/rMView.jpg') no-repeat center center fixed;
  background-color:black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a
{
  text-decoration:none;
}

body 
{
  position:absolute;left:15%;
  width:70%;
  border:solid 1px blue;
  margin:50px auto;
  text-align:center;

  background: url('../media/blueBack.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity:.8;
  filter: alpha(opacity = 50);
}

h2
{
  color:red;
  text-shadow:1px 1px 1px black;
}

p
{
  position:relative;left:5%;
  width:90%;
  text-indent:50px;
  border: 1px solid blue;
  border-radius:4px;
  padding:3px;
  font-size: 22px;
  font-weight: 500;
  background: url('../media/preBack.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body #nav li
{
  display:inline;
  width:90%;
  border:solid 1px blue;
  text-align:left;
  margin:1px;
  padding:0px 10px;

  background-color:lightblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body #nav li:hover
{
  border:solid 1px white;
  background: url('../media/preBack.gif') no-repeat center center fixed;
}

#logo
{
  background-image:url('../media/logo2.jpg');
  background-size:cover;
  background-color:blue;
  border:solid 1px blue;
  width: 100%;
  height: 100%;
}
#healthcare
{
  background-image:url('../media/hc.jpg');
  background-size:cover;
  background-color:blue;
  border:solid 1px blue;
  width: 35%;
  height: 35%;
}
#worktogether
{
  background-image:url('../media/wt.jpg');
  background-size:cover;
  background-color:blue;
  border:solid 1px blue;
  width: 35%;
  height: 35%;
}
#mountainView
{
  background-image:url('../media/rMView.jpg');
  background-size:cover;
  background-color:blue;
  border:solid 1px blue;
  width: 35%;
  height: 35%;
}
#flower
{
  background-image:url('../media/lc.jpg');
  background-size:cover;
  background-color:blue;
  border:solid 1px blue;
  border-radius:12px;
  width: 35%;
  height: 35%;
}