    /* CSS Reset */
    #element { margin:0; padding:0; font-size:100%; line-height:1; }
     
    ...
    /* #element rules: */
    #element { margin:5px 0 10px; font-size:13px; line-height:1.5; }

#preloader {
background: url('../images/hc.jpg') no-repeat;
background: url('../images/logo.jpg') no-repeat;
background: url('../images/logo2.jpg') no-repeat;
background: url('../images/rMView.jpg') no-repeat;
background: url('../images/wt.jpg') no-repeat;
background: url('../images/blueBack.gif') no-repeat;
background: url('../images/preBack.gif') no-repeat;

display: none;
} 